
<nav class="row">
  <div class="twelve columns">
    <%= link_to "Schedule", "#schedule" %>
    <%= link_to "K+K Menu", "#kk-menu" %>
    <%= link_to "Map", "#map" %>
  </div>
</nav>

<section id="main" class="row">
  <div class="twelve columns">
    <p>The Wedding of</p>
    <h1>Philip &amp; Sarah</h1>
    <p>on <br />
      Thursday 27th June, 2015</p>
    <p>at the <br />
      Mirabell Palace, Salzburg, Austria</p>
  </div>
</section>

<section id="schedule" class="row">
  <div class="twelve columns">
    <h2>Schedule</h2>

    <div class="row event">
      <div class="twelve columns">
        <p class="schedule_time">1:00 pm</p>
        <h3>Wedding Ceremony</h3>
        <h4><em>The Mirabell Palace</em></h4>
      </div>
    </div>

    <div class="row event">
      <div class="twelve columns">
        <p class="schedule_time">2:15 pm</p>
        <h3>Horse-drawn carriage ride</h3>
        <h4><em></em></h4>
        <p>
      </div>
    </div>

    <div class="row event">
      <div class="twelve columns">
        <p class="schedule_time">3:00 pm</p>
        <h3>Cake &amp; Champagne</h3>
        <h4><em>Café Classic</em></h4>
        <p>
      </div>
    </div>

    <div class="row event">
      <div class="twelve columns">
        <p class="schedule_time">6:00 pm</p>
        <h3>Dinner</h3>
        <h4><em>K+K Restaurant</em></h4>
      </div>
    </div>

  </div>
</section>

<section id="kk-menu" class="row">
  <div class="twelve columns">
    <h2>K+K Menu</h2>
    <%= link_to "www.kkrestaurants.com", "http://www.kkrestaurants.com/en" %>

    <div class="menu-course">
      <p>Sheep's cheese terrine on lamb's lettuce salad with pumpkin pesto</p>
      <p>Tartar of salmon with green pepper on wheaten bread with dill-mustard-sauce</p>
      <p>Beef Carpaccio on basil pesto with chanterelles, parmesan</p>
      <p>Rocket salad with figs and Parma ham and Mozzarella callas in lilac</p>
    </div>
    <div class="menu-course">
      <p>Consommé with semolina dumplings</p>
      <p>Consommé with sliced pancakes</p>
      <p>Cream of tomatoes with Gin and basil cream</p>
      <p>Cream of potatoes with mushrooms and bacon</p>
    </div>
    <div class="menu-course">
      <p>Sirloin steak with onion sauce, roast potatoes, green beans with bacon</p>
      <p>Deep fried chicken with lamb's lettuce-potato salad</p>
      <p>Fillet of salmon trout, spinach with mushrooms, courgettes, potato strudel</p>
      <p>Spinach ravioli stuffed with curd cheese, sage butter with tomatoes and parmesan</p>
    </div>
    <div class="menu-course">
      <p>Chocolate mousse with sour cherries and whipped cream</p>
      <p>Homemade apple strudel with vanilla ice cream and whipped cream</p>
      <p>K+K Curd cheese dumplings with stewed plums</p>
      <p>Crème brûlée with lemongrass, wild berries ragout</p>
    </div>
</section>

<section id="map" class="row">
  <div class="twelve columns">
    <div id="map-canvas">
    </div>
  </div>
</section>

<footer>
  <p>Site by <%= link_to "maniacalrobot.co.uk", "http://www.maniacalrobot.co.uk" %></p>
</footer>
